.col {
    border: 3px solid lightgray;
}

.col h1 {
    text-align: center;
    margin: 10px;
}

.formWrapper {}

.row {
    display: flex;
    align-items: flex-start;
}

.row>* {
    width: 30%;
    text-align: right;
}

.row input[type="checkbox"] {
    width: 10%;
}